{% extends "hub/base.html" %}

{% block content %}
<h3>Thread for {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>

<ul id='chat-items'>

  {% for chat in object.chatmessage_set.all %}
  <li>{{ chat.message }} via {{ chat.user }}</li>
  {% endfor %}

</ul>

<form id='form' method='POST'> {% csrf_token %}
  <input type='hidden' id='my_username' value='{{ user.username }}' />
{{form.as_p }}
<input type='submit' class='btn btn-primary'/>
</form>

{% endblock %}

{% block script %}

<script>
// websocket scripts

  var loc = window.location
  var form_data = $("#form")
  var msg_input = $("#id_message")
  var chat_messages = $("#chat_items")
  var me = $("#my_username").val()

  var ws_start = 'ws://'
  if(loc.protocol == 'https'){
    ws_start = 'wss://'
  }
  var endpoint = ws_start + loc.host + loc.pathname
  var socket = new WebSocket(endpoint)

  socket.onmessage = function(e){
    console.log("message", e)
    var chat_msg = JSON.parse(e.data)
    chat_messages.append("<li>" + chat_msg.message + " - " + chat_msg.username + "</li>")
  }

  socket.onopen = function(e){
    console.log("open", e)
    form_data.submit(function(event){
      event.preventDefault()

      var msg_text = msg_input.val()
      chat_messages.append("<li>" + msg_text + " - " + me + "</li>")

      var final_data = {
        'message': msg_text
      }

      socket.send(JSON.stringify(final_data)
      msg_input.val('')      
    })
  }

  socket.onerror = function(e){
    console.log("error", e)
  }

  socket.onclose = function(e){
    console.log("close", e)
  }

</script>
{% endblock %}
