<!-- chat/templates/chat/thread.html -->

{% extends "hub/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <h3>You are now chatting with {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h3>

  <div id="chatBox" style="height: 500px; background-color: #ffffff; overflow:auto; ">
    <div id="chat_items" >
        {% for chat in object.chatmessage_set.all %}

        {% if user == chat.user %}
        <div class="text-right mr-2">{{chat.user}}</div>
        <div class="alert alert-primary ml-auto text-right" style="max-width: 350px">
          {{chat.message}}
        </div>

        {% else %}
        <div class="ml-2">{{chat.user}}</div>
        <div class="alert alert-dark " style="max-width: 350px">
         {{chat.message}}
        </div>
        {% endif %}


       
        {% endfor %}
    </div>
  </div>

  <script>
    document.getElementById("chatBox").scrollTop = 10000
  </script>

  <form id='form' method='POST'> 
  
    {% csrf_token %}
    <input type='hidden' id='my_username' value='{{ user.username }}'/>
    {{ form|crispy }}
    <input type='submit' class='btn btn-primary'/>

  </form>

{% endblock %}

{% block extra_js %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <script type="text/javascript">

    $(function() {
      var loc = window.location
      var form_data = $("#form")
      var msg_input = $("#id_message")
      var chat_messages = $("#chat_items")
      var me = $("#my_username").val()
      var ws_start = 'ws://'

      if(loc.protocol == 'https'){
        ws_start = 'wss://'
      }

      var endpoint = ws_start + loc.host + loc.pathname
      var socket = new ReconnectingWebSocket(endpoint)

      socket.onmessage = function(e){
        var chat_msg = JSON.parse(e.data)
        chat_messages.append("<li>" + chat_msg.message + " - " + chat_msg.username + "</li>")
      }

      socket.onopen = function(e){
        form_data.submit(function(event){
          event.preventDefault()

          var msg_text = msg_input.val()

          var final_data = {
            'message': msg_text
          }

          socket.send(JSON.stringify(final_data))
          msg_input.val('') 
          return false     
        })
      }

      socket.onerror = function(e){
        console.log("error", e)
      }

      socket.onclose = function(e){
        console.log("close", e)
        socket.close()
      }

    });
  </script>

{% endblock extra_js %}
