<!-- hub/templates/hub/about_org.html -->

{% extends "hub/base.html" %}

{% block content %}

    <h1>About EJI Page</h1>
    <h5>Freedom Network supports existing reentry programs which work directly and in-person with formerly incarcerated individuals leaving the criminal justice system in the United States. Typically, partnering organization’s programs are highly individualized because each case is unique, presenting specific sets of needs. Some people have robust and supportive families while others do not, for example. Length of sentence and type of facility a person is held in also play a huge role in the needs and development of reentering citizens.

    <h5>Mentors meet a specific criteria developed by the partnering organization in conjunction with the population they specifically work with. Mentors are then trained to support reentering citizens in the unique experience of leaving incarceration. New participants, or Mentees, are then matched with Mentors that have parallel context and situations.</h5>

    <h5>Even with a support system such as an organization in place, it is still difficult to find efficient services and resources when an individual reenters society after incarceration. The objective of Freedom Network is to support ongoing mentorship and communications which ease this transition period and hopefully guide the often convoluted process of locating and accessing resources while providing affirmation and motivation.</h5>


{% endblock content %}
