<!-- hub/templates/hub/about_freenet.html -->

{% extends "hub/base.html" %}

{% block content %}

    <h1>About Freedom Network</h1>
    <h5> Freedom Network is a technology platform in development which has been prototyped as a group project through Dr. Shameem Ahmed’s course Design for Social Good at Western Washington University. The purpose of this platform is to support the reentry of formerly incarcerated individuals into civilian society – an experience wrought with complexity, vulnerability, and social stigma. Through our group’s research, it has become clear that reentering citizens are less likely to fall into recidivism patterns when they are socially supported and have access to resources, though these resources and support networks are often difficult to locate and access.</h5>

    <h5>Freedom Network is designed to provide direct and confidential communication between Mentors (rehabilitated and pro-social citizens who have already reentered society) and Mentees (reentering citizens). These relationships are generated through a partnering organization’s reentry program which is in turn supported by this platform. Technological literacy – a significant barrier to individuals who have experienced time incarcerated – is taught by the partnering organization in person and then supported through Freedom Network’s resources.</h5>

    <h5>While this platform does not address systemic issues surrounding the prison-industrial complex such as disproportionate incarceration or social economic issues, it does provide a tool to access hard-to-find resources and information as well as a direct line of support between Mentor and Mentee which will empower and guide the reentrance and development of pro-social behaviors of our participants. Freedom Network has been developed in response to significant themes such as identity construction, social networks, the security of basic needs, and overcoming barriers which emerged through our group’s literary research and interviews with the population we seek to empower in their journey of healing and growth.
    </h5>

{% endblock content %}
