<!-- hub/templates/hub/base.html -->

{% load static %}
<!DOCTYPE html>

<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom CSS for Blog -->
    <link rel="stylesheet" type="text/css" href="{% static 'hub/main.css' %}">

    {% block additional_styles %}
        <style>
            body{
                background-color: #f4ebd4;
            }
        </style>
    {% endblock %}

    {% if title %}
        <title>Freedom Network - {{ title }}</title>
    {% else %}
        <title>Freedom Network</title>
    {% endif %}

</head>

<body>

    <header class="site-header">

        <!-- Navbar Top -->
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'hub-home' %}">Freedom Network</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'hub-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'hub-about_freenet' %}">About Freedom Network</a>
                        <a class="nav-item nav-link" href="{% url 'hub-about_org' %}">About EJI</a>
                        <a class="nav-item nav-link" href="{% url 'hub-contact' %}">Contact</a>
                        <a class="nav-item nav-link" href="{% url 'hub-become_mentor' %}">Become a Mentor</a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                            <a class="nav-item nav-link" href="{% url 'hub-need_help' %}">Need Help?</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'hub-need_help' %}">Need Help?</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        {% if user.is_authenticated %}
            <div class="row p-3 m-auto text-white" style="background-color: #bab6a3;">
                <div class="col col-lg-3">
                    <a class="badge badge-light {{ message_page }}" href="{% url 'hub-messages' %}">Messages</a>
                </div>
                <div class="col col-lg-3">
                    <a class="badge badge-light {{ resources_page }}" href="{% url 'hub-resources' %}">Resources</a>
                </div>
                <div class="col col-lg-3">
                    <a class="badge badge-light {{ forums_page }} " href="{% url 'hub-forums' %}">Forums</a>
                </div>
                <div class="col col-lg-3">
                    <a class="badge badge-light {{jobs_page}} " href="{% url 'hub-jobs' %}">Jobs and Opportunities</a>
                </div>

            </div>
        {% endif %}
        
            <div class="col mt-5" >
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags}}">
                            {{ message}}
                        </div>
                    {% endfor%}
                {% endif %}

                {% block content %}
                {% endblock %}
            </div>
           
        
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>