<!-- hub/templates/hub/contact.html -->

{% extends "hub/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <h1 class="mb-5">Contact Us</h1>

    <form method="POST" class="w-75">

        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom border-dark mb-4">Send Us an Email</legend>
            {{ form|crispy }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send</button>
        </div>

    </form>


{% endblock content %}
