<!-- hub/templates/hub/need_help.html -->

{% extends "hub/base.html" %}

{% block content %}
<style>
    p.big {
        line-height: 1.8
    }
</style>

    <h1>Need Help?</h1>

    <div class="card border-secondary mb-3">

        <div class="card-body text-secondary">

        <h3>This site is here for you!</h3>
    
        <p class="card-text">We are Freedom Network and we want to make your transition back to society as accessible as possible. To do this 
            we've created a site with your needs in mind. We have a resources page where we have information
            in categories such as learning technology, how to get a job and shelters or food banks. We have a mentoring 
            system we support from a partnering organization who provides you with amazing mentor options. This means you'll
            have one on one communication with someone who's been in your exact shoes! You can ask them any questions on any 
            part of your re entry process, whether it's the nitty gritty details about the place you come from and the people 
            you report to or how to find a job they've got a story and advice for everything!
        </p>

        <p class="card-text">This page is more for how to navigate through the site itself. The first page you will ever open to is a log in page.
            If you came from an organization we are partnering with, they will already have you signed up and set up with an account.
            Simply use the instructions they provided on the paperwork they handed you as you left and you should be able to sign in.
            If you have any trouble please contact your organizations technical support team. They will be able to recover your username
            and password and ensure you are able to login okay.
        </p>

        <p class="card-text">Once you are logged in you will open to our very helpful resources page! Here you'll find resources on 
            <ul>
                <li>Technology</li>
                <li>Education</li>
                <li>Jobs</li>
                <li>Housing</li>
                <li>Social/Community</li>

            </ul>
            You can filter with the drop down menu just below the title of the Resources page. Simply click the grey button titled 
            "Filter Help Topics" and you can narrow down the resources shown.
        </p>

        <p class="card-text">Another really important page for you is our messaging system! This page opens to little boxes with your mentors names on them. 
            To open up the virtual conversation you've been having with your mentor, click the button inside the box that says "Message Them"!
            This brings you to the virtual conversation you've had so far with your mentor, all the questions you've asked and is where you can 
            go to ask more.
        </p>

        <p class="card-text">Clicking the "Freedom Network" phrase at the top left of the website will bring you back to the Resources page as does clicking the 
            "Home" phrase to its right. Next to that the "About Freedom Network" page tells you who we are as does the "About EJI" page does for 
            our partnering organization. Next to that we have a "Contact" page and this is equally important as the Resources page and Messages pages.
            As you get more and more familiar with how our website works you'll know how it's supposed to act. If you see anything strange while navigating 
            our site, please feel free to message our technical team here and we will get to your request as soon as we can. If you have any suggestions for
            us as well, feel free to let us know there too with the word "Suggestion" in the subject of the email. 
        </p>

        <p class="card-text">After our "Contact" page, we have our "Become a Mentor" page. Clicking this button turns you to to a form that will ask you simple application 
            information that we've developed based on our partnering organizations suggestions. If you know of anyone who would be a great fit or if you 
            yourself feel ready enough to be there for someone else learning how to transition back into their lives, feel free to visit this application 
            site.
        </p>

        <p class="card-text"> The last two really important pages to this site are of course this page that you're visiting right here with all the information on 
            how to navigate our site as well as your profile page. On the right hand side of the banner that contains all the "About Freedom Network" and "Become
            a Mentor" pages are the buttons to click to navigate to these other parts of the site. The "Need Help?" page is to the furthest right and your "Profile"
            page is two over from that.
        </p>

        <p class="card-text"> Clicking on the "Profile" page will direct you to all the information about your profile as it currently stands. You can change your 
            username in the "Username" textbox and similarly update your email with in the "Email" textbox. The image that appears next to your name and email
            designated at the beginning of this page is saved in the "Image" section of your profile. You can change it to any image you have on your computer 
            of yourself or something that you enjoy.
        </p>

        </div>
    </div>
{% endblock content %}