<!-- hub/templates/hub/resources.html -->

{% extends "hub/base.html" %}

{% block content %}

    <h1>Resources Page</h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter Help Topics
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" type="button">Technology</button>
            <button class="dropdown-item" type="button">Education</button>
            <button class="dropdown-item" type="button">Jobs</button>
            <button class="dropdown-item" type="button">Housing</button>
        </div>
    </div>

    <div class="card mt-5" id="test1">
        <div class="card-body">
            <h5 class="card-title">Technology card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some example text, this is where a blurb about our resources is gonna go.</p>
            <a href="#" class="card-link">Link to article if exists</a>
        </div>
    </div>

    <div class="card mt-5" id="test2">
        <div class="card-body">
             <h5 class="card-title">Education card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
             <p class="card-text">Some example text, this is where a blurb about our resources is gonna go.</p>
              <a href="#" class="card-link">Link to article if exists</a>
         </div>
     </div>


{% endblock content %}