<!-- hub/templates/hub/resources.html -->

{% extends "hub/base.html" %}

{% block content %}



    <h1>Resources Page</h1>

    <div class="dropdown" >
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #99a1a6;">
            Filter Help Topics
        </button>
        <div class="dropdown-menu" >
            <button class="dropdown-item" type="button" onclick="myFunction('ALL')">View All</button>
            <button class="dropdown-item" type="button" onclick="myFunction('TECH')">Technology</button>
            <button class="dropdown-item" type="button" onclick="myFunction('EDUC')">Education</button>
            <button class="dropdown-item" type="button" onclick="myFunction('JOB')">Jobs</button>
            <button class="dropdown-item" type="button" onclick="myFunction('HOUSE')">Housing</button>
            <button class="dropdown-item" type="button" onclick="myFunction('SOCIAL')">Social</button>
        </div>
    </div>

    {% for resource in resources %}
        <div class="card mt-5 {{resource.res_type}}">
            <div class="card-body">
                <h5 class="card-title">{{resource.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{resource.subtitle}}</h6>
                <p class="card-text">{{resource.content}}</p>
                <a href="#" class="card-link">{{resource.url}}</a>
            </div>
        </div>

    {% endfor %}

    

     <script>
     function myFunction(input){
        var tech = document.querySelectorAll(".technology");
        var education = document.querySelectorAll(".education");
        var jobs = document.querySelectorAll(".job");
        var housing = document.querySelectorAll(".housing");
        var social = document.querySelectorAll(".social");

        var techStat = "none";
        var educStat = "none";
        var jobStat = "none";
        var houseStat = "none";
        var socialStat = "none";

        switch (input){
            case "TECH":
                techStat = "block";
                break;
            case "EDUC":
                educStat = "block";
                break;
            case "JOB":
                jobStat = "block";
                break;
            case "HOUSE":
                houseStat = "block";
                break;
            case "SOCIAL":
                socialStat = "block";
            case "ALL":
                techStat = "block";
                educStat = "block";
                jobStat = "block";
                houseStat = "block";
            default:
                break;
        }
        var a;
        for(a = 0; a < tech.length; a++){
            tech[a].style.display = techStat;
        }
        var b;
        for(b = 0; b < education.length; b++){
            education[b].style.display = educStat;
        }

        var c;
        for(c = 0; c < jobs.length; c++){
            jobs[c].style.display = jobStat;
        }
        var d;
        for(d = 0; d < housing.length; d++){
            housing[d].style.display = houseStat;
        }
        var e;
        for(e = 0; e < social.length; e++){
            social[e].style.display = socialStat;
        }

     }

     </script>

{% endblock content %}
